.section-4{
  padding-bottom: 2.5rem;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


 
 opacity: 1;
 
}
.section-title-div {
    /* border: 2px solid yellow !important; */
    /* width: 60%, */
    text-align: center;
    /* margin: 0 auto; */
    /* border: 2px solid red */
  }
  .section-text-div {
    /* border: 2px solid green; */
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .section-title-div,
    .section-text-div {
      width: 60% !important;
      /* border: 2px solid pink !important; */
      max-width:650px
    }
  }

.btn-div{
  margin-top: 3rem !important ;
}
  @media screen and (max-width: 425px) {
    .section-title-div,
    .section-text-div {
      width: 50% !important;
      /* border: 2px solid pink !important; */
      min-width:300px
    }
  }